header {
  text-align: center;
}
main {
  margin-left: 300px;
}
footer {
  text-align: right;
}
nav {
  background-color: blanchedalmond;
    width: 200px;
    margin: 10px 0px 10px 10px;
    padding: 20px;
    border-radius: 10px;
}
h1 {
    font-family: Verdana;
    font-size: 32pt;
}
p {
    font-size: 14pt;
}
ul {
    font-size: 14pt;
    list-style-type: square;
}
button {
	text-align: center;
	font-size: 14pt;
	font-family: Arial;
	border-radius: 15pt;
	border: green thick solid;
	background-color: aqua;
}
